<div class="container">
  <div class="left-section">
    <div class="button-panel-container">
      <app-button-panel
        [buttonClass]="'btn-secondary'"
        [key]="'[END]'"
        [name]="'FINALIZAR COMPRA'"
        [icon]="'paid'"
        (buttonClick)="onFinalizarCompra()"></app-button-panel>

      <app-button-panel
        [buttonClass]="'btn-alert'"
        [key]="'[F12]'"
        [name]="'CANCELAR COMPRA'"
        [icon]="'cancel'"
        (buttonClick)="onCancelarCompra()"></app-button-panel>
    </div>

    <app-input-key [(value)]="inputValue" (cleared)="onInputCleared()"></app-input-key>

    <div id="keyboard">
      <app-button-key
        *ngFor="let key of ['1', '2', '3', '4', '5', '6', '7', '8', '9', ',', '0', '*']"
        (click)="onButtonClick(key)"
        [keyCaption]="key"></app-button-key>
    </div>
  </div>

  <div class="right-section">
    <app-table
      [columns]="['#', 'PRODUTO', 'BARRA', 'PREÇO UNIT', 'QTD', 'TOTAL']"
      [data]="tableData"
      [columnColors]="{ '#': 'var(--color-primary)' }"
      [currencyMask]="['PREÇO UNIT', 'TOTAL']"></app-table>
    <app-last-item></app-last-item>
  </div>
</div>
