:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left-section {
  flex: 0 0 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--color-primary);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.barcode-input {
  width: 100%;
  margin-bottom: 20px;
}

.button-panel-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px 0;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center; // Centraliza as colunas
  align-items: center; // Centraliza verticalmente
  max-width: 400px; // Ajuste este valor conforme necessário
  margin: 20px auto 0; // Centraliza o grid horizontalmente
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--color-background);
  overflow: hidden;
  overflow-y: auto;
}

app-table {
  flex: 1;
  overflow-y: auto;
}

.card {
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  background: var(--color-primary);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.secondary {
  background: var(--color-background);
}

app-last-item {
  background-color: var(--color-primary);
}
