<div class="card">
  <h2>PRODUTOS</h2>
  <div class="content">
    <img src="assets/prod.png" alt="" />
    <div class="descriptions">
      <div class="item">
        <mat-icon>sell</mat-icon>
        <span>COCA COLA 300ML UN</span>
      </div>
      <div class="item-description">
        <span>QUANTIDADE</span>
        <span>12</span>
      </div>
      <div class="item-description">
        <span>VALOR UN</span>
        <span>{{ 20.0 | currencyBrl }}</span>
      </div>
      <div class="item-description">
        <span>TOTAL ITEM</span>
        <span>{{ 20.0 | currencyBrl }}</span>
      </div>
    </div>
  </div>
</div>
