.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  padding: 20px;

  h2 {
    color: var(--color-text-light);
    margin: 0;
    padding-bottom: 5px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .descriptions {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;

    .item {
      display: flex;
      justify-content: flex-start;
      color: var(--color-alert);
      align-items: center;
      width: 100%;
      margin-bottom: 20px;

      mat-icon {
        padding-right: 10px;
        width: 30px;
        height: 30px;
        font-size: 30px;
      }

      span {
        font-size: 20px;
        text-align: left;
      }
    }

    .item-description {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: 10px 0;
      border-bottom: 1px solid var(--color-text-light);

      span {
        color: var(--color-text-light);
        font-size: 20px;
        padding-bottom: 5px;
      }
    }
  }
}

@media (max-width: 1400px) {
  .card {
    img {
      height: 200px;
      padding-right: 20px;
    }
  }
}

@media (max-width: 1250px) {
  .card {
    img {
      height: 180px;
      padding-right: 10px;
    }

    h2 {
      font-size: 95%; // Reduz o tamanho da fonte em 10%
    }
  }
}
