.input-key-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-key-field {
  width: 100%;
  max-width: 380px;
  height: 60px;
  border: 2px solid var(--color-border);
  border-right: none;
  outline: none;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-background);
  transition: border-color 0.3s ease;

  &::placeholder {
    color: var(--color-secondary);
  }

  &:focus {
    border-color: var(--color-primary);
  }
}

.clear-button {
  height: 62px;
  width: 62px;
  background: white;
  border: 3px white;
  border-left: none;
  cursor: pointer;
  color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    font-size: 20px;
  }
}

@media (max-width: 1250px) {
  .input-key-field {
    height: 50px;
    font-size: 20px;
  }

  .clear-button {
    height: 50px;
    width: 50px;
  }
}
