.input-key-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-key-field {
  width: 100%;
  max-width: 380px;
  height: 60px;
  border: 2px solid var(--color-border);
  outline: none;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-background);
  transition: border-color 0.3s ease;

  &::placeholder {
    color: var(--color-secondary);
  }

  &:focus {
    border-color: var(--color-primary);
  }
}
@media (max-width: 1250px) {
  .input-key-field {
    height: 50px;
    font-size: 20px;
  }
}
