table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: none;
  padding: 8px;
  text-align: center;
  font-size: 12px;
  font-weight: 900;
}

th {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  font-size: 15px;
  padding: 10px;
  border-left: 1px solid var(--color-text-light);
  border-right: 1px solid var(--color-text-light);
  height: 60px;
}

th:first-child,
td:first-child {
  width: 60px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;

  &__header,
  &__cell {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--color-border);
  }

  &__header {
    background-color: var(--color-primary);
    color: var(--color-text-light);
  }

  &__row:nth-child(even) {
    background-color: var(--color-background-alt);
  }
}
