<table class="data-table" #dataTable *ngIf="data && data.length > 0">
  <thead>
    <tr>
      <th *ngFor="let column of columns" class="data-table__header">
        {{ column === "ID" ? idHeader : column }}
      </th>
    </tr>
  </thead>
  <tbody #tableBody>
    <tr *ngFor="let row of data" class="data-table__row">
      <td *ngFor="let column of columns" class="data-table__cell" [ngStyle]="{ color: columnColors[column] }">
        {{ getCellValue(row, column) }}
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="!data || data.length === 0">Nenhum dado disponível</p>
