<app-base-modal title="Digite a senha gerencial" (confirm)="onSubmit()" (cancel)="onCancel()">
  <mat-form-field class="password-modal__input">
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      [(ngModel)]="password"
      placeholder="Senha"
      #passwordInput
      (keyup.enter)="onSubmit()" />
    <button
      mat-icon-button
      matSuffix
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="'Mostrar senha'"
      [attr.aria-pressed]="hidePassword">
      <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="password-modal__error" *ngIf="showError"> Senha incorreta. Por favor, tente novamente. </div>
</app-base-modal>
