<app-base-modal
  [title]="'Enter Password'"
  [showCancelButton]="true"
  [showConfirmButton]="true"
  [cancelButtonText]="'Cancel'"
  [confirmButtonText]="'Confirm'">
  <div class="password-modal">
    <div class="password-modal__content">
      <div class="password-modal__input-container">
        <input type="password" class="password-modal__input" [(ngModel)]="password" placeholder="Password" />
        <button class="password-modal__visibility-toggle" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <div class="password-modal__input-underline"></div>
      </div>
      <div *ngIf="showError" class="password-modal__error">Invalid password</div>
    </div>
    <div class="password-modal__actions">
      <button class="password-modal__button password-modal__button--cancel" (click)="onCancel()">Cancel</button>
      <button class="password-modal__button password-modal__button--confirm" (click)="onSubmit()">Confirm</button>
    </div>
  </div>
</app-base-modal>
