<aside class="sidebar">
  <div class="sidebar__content">
    <div class="sidebar__header">
      <img class="sidebar__logo" src="assets/logo.png" alt="Logo" />
    </div>
    <div class="sidebar__user-section">
      <img class="sidebar__avatar" src="assets/avatar.png" alt="User" onerror="this.src='assets/default-avatar.png';" />
      <div class="sidebar__user-info">
        <h1 class="sidebar__user-role">Operador(a) de Caixa</h1>
        <p class="sidebar__user-name">Marcia Santos</p>
      </div>
    </div>
    <nav class="sidebar__nav">
      <button *ngFor="let button of buttons" class="sidebar__nav-item" [class.is-selected]="button.selected">
        <mat-icon class="sidebar__nav-icon">{{ button.icon }}</mat-icon>
        <span class="sidebar__nav-label">{{ button.label }}</span>
      </button>
    </nav>
  </div>
</aside>
