<aside class="sidebar">
  <div class="sidebar__content">
    <div class="sidebar__header">
      <img class="sidebar__logo" src="assets/logo.png" alt="Logo" />
    </div>
    <div class="sidebar__user-section">
      <img class="sidebar__avatar" src="assets/avatar.png" alt="User" onerror="this.src='assets/default-avatar.png';" />
      <div class="sidebar__user-info">
        <h1 class="sidebar__user-role">Operador(a) de Caixa</h1>
        <p class="sidebar__user-name">Marcia Santos</p>
      </div>
    </div>
    <nav class="sidebar__nav">
      <ng-container *ngFor="let button of buttons">
        <button class="sidebar__nav-item" [class.is-selected]="button.selected" (click)="onToggleSubItems(button)">
          <mat-icon class="sidebar__nav-icon">{{ button.icon }}</mat-icon>
          <span class="sidebar__nav-label">{{ button.label }}</span>
          <mat-icon class="sidebar__nav-expand-icon" *ngIf="button.subItems">
            {{ button.expanded ? "expand_less" : "expand_more" }}
          </mat-icon>
        </button>
        <div class="sidebar__subnav" [class.expanded]="button.expanded" *ngIf="button.subItems">
          <button *ngFor="let subItem of button.subItems" class="sidebar__subnav-item">
            <span class="sidebar__subnav-label">{{ subItem.label }}</span>
            <mat-icon class="sidebar__subnav-icon">{{ subItem.icon }}</mat-icon>
          </button>
        </div>
      </ng-container>
    </nav>
  </div>
</aside>
