@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&display=swap');
* {
  font-family: 'Lato';
}

:root {
  --color-primary: #007bff;
  --color-primary-hover: #0056b3;
  --color-secondary: #6c757d;
  --color-secondary-hover: #5a6268;
  --color-background: #ffffff;
  --color-background-alt: #f8f9fa;
  --color-text: #212529;
  --color-text-light: #ffffff;
  --color-border: #dee2e6;
  --color-alert: #ffc107;
  --color-alert-hover: #e0a800;
  --color-success: #28a745;
  --color-success-hover: #218838;
  --color-danger: #dc3545;
  --color-danger-hover: #c82333;
  --color-disabled: #e9ecef;
  --opacity-disabled: 0.65;
}

/*:root {
  --color-primary: #f0200c;
  --color-primary-hover: #c5170a;
  --color-secondary: #4b4b4b;
  --color-secondary-hover: #3a3a3a;
  --color-background: #fdfdfd;
  --color-background-alt: #f1f1f1;
  --color-text: #2c2c2c;
  --color-text-light: #ffffff;
  --color-border: #e0e0e0;

  --color-alert: #ffc107;
  --color-alert-hover: #e0a800;

  --color-success: #28a745;
  --color-success-hover: #218838;

  --color-danger: #dc3545;
  --color-danger-hover: #c82333;

  --color-disabled: #bdbdbd;
  --opacity-disabled: 0.5;
}
*/
